In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('nba_games.csv', index_col=0)

In [3]:
df

,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
mp,,,,,,,,,,,,,,,,,,,,,
240.0,240.0,39.0,81.0,0.481,6.0,20.0,0.300,14.0,18.0,0.778,...,22.8,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True
240.0,240.0,36.0,100.0,0.360,7.0,31.0,0.226,16.0,19.0,0.842,...,50.0,32.6,152.0,111.0,ATL,98,0,2016,2015-12-09,False
240.0,240.0,37.0,85.0,0.435,8.0,19.0,0.421,17.0,23.0,0.739,...,20.0,30.9,148.0,116.0,SAS,107,1,2018,2017-10-18,False
240.0,240.0,41.0,89.0,0.461,8.0,21.0,0.381,17.0,19.0,0.895,...,28.6,30.9,138.0,118.0,MIN,99,0,2018,2017-10-18,True
240.0,240.0,27.0,86.0,0.314,6.0,26.0,0.231,15.0,20.0,0.750,...,16.8,30.9,157.0,90.0,MEM,92,1,2021,2021-04-30,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240.0,240.0,38.0,86.0,0.442,9.0,25.0,0.360,14.0,16.0,0.875,...,50.0,35.7,205.0,115.0,BOS,106,0,2024,2024-06-12,False
240.0,240.0,29.0,80.0,0.363,14.0,41.0,0.341,12.0,13.0,0.923,...,100.0,40.8,212.0,99.0,DAL,122,1,2024,2024-06-14,False
240.0,240.0,46.0,91.0,0.505,15.0,37.0,0.405,15.0,22.0,0.682,...,50.0,35.9,200.0,138.0,BOS,84,0,2024,2024-06-14,True
240.0,240.0,35.0,78.0,0.449,11.0,37.0,0.297,7.0,13.0,0.538,...,15.5,32.3,300.0,110.0,BOS,106,1,2024,2024-06-17,False
240.0,240.0,38.0,89.0,0.427,13.0,39.0,0.333,17.0,20.0,0.850,...,36.4,54.6,194.0,133.0,DAL,88,0,2024,2024-06-17,True

In [4]:
df = df.sort_values('date')

In [5]:
df = df.reset_index(drop=True)

In [6]:
df

,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
1,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,37.5,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True
2,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
3,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,57.1,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True
4,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23045,240.0,38.0,86.0,0.442,9.0,25.0,0.360,14.0,16.0,0.875,...,50.0,35.7,205.0,115.0,BOS,106,0,2024,2024-06-12,False
23046,240.0,29.0,80.0,0.363,14.0,41.0,0.341,12.0,13.0,0.923,...,100.0,40.8,212.0,99.0,DAL,122,1,2024,2024-06-14,False
23047,240.0,46.0,91.0,0.505,15.0,37.0,0.405,15.0,22.0,0.682,...,50.0,35.9,200.0,138.0,BOS,84,0,2024,2024-06-14,True
23048,240.0,35.0,78.0,0.449,11.0,37.0,0.297,7.0,13.0,0.538,...,15.5,32.3,300.0,110.0,BOS,106,1,2024,2024-06-17,False
23049,240.0,38.0,89.0,0.427,13.0,39.0,0.333,17.0,20.0,0.850,...,36.4,54.6,194.0,133.0,DAL,88,0,2024,2024-06-17,True

In [7]:
del df['mp_opp.1']
del df['mp.1']
del df['index_opp']

In [8]:
df

,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,8.0,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
1,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,21.0,...,37.5,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True
2,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,7.0,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
3,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,23.0,...,57.1,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True
4,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,11.0,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23045,38.0,86.0,0.442,9.0,25.0,0.360,14.0,16.0,0.875,7.0,...,50.0,35.7,205.0,115.0,BOS,106,0,2024,2024-06-12,False
23046,29.0,80.0,0.363,14.0,41.0,0.341,12.0,13.0,0.923,4.0,...,100.0,40.8,212.0,99.0,DAL,122,1,2024,2024-06-14,False
23047,46.0,91.0,0.505,15.0,37.0,0.405,15.0,22.0,0.682,13.0,...,50.0,35.9,200.0,138.0,BOS,84,0,2024,2024-06-14,True
23048,35.0,78.0,0.449,11.0,37.0,0.297,7.0,13.0,0.538,7.0,...,15.5,32.3,300.0,110.0,BOS,106,1,2024,2024-06-17,False
23049,38.0,89.0,0.427,13.0,39.0,0.333,17.0,20.0,0.850,15.0,...,36.4,54.6,194.0,133.0,DAL,88,0,2024,2024-06-17,True

In [9]:
def add_target(team):
    team['target'] = team['won'].shift(-1)
    return team

df = df.groupby('team', group_keys=False).apply(add_target)

C:\Users\felipe\AppData\Local\Temp\ipykernel_1496\514775512.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby('team', group_keys=False).apply(add_target)

In [10]:
df[df['team'] == 'DEN']

,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
11,40.0,79.0,0.506,13.0,27.0,0.481,12.0,18.0,0.667,9.0,...,32.2,203.0,120.0,HOU,85,1,2016,2015-10-28,True,False
48,29.0,95.0,0.305,5.0,25.0,0.200,15.0,20.0,0.750,17.0,...,31.6,126.0,91.0,MIN,95,0,2016,2015-10-30,False,False
85,35.0,92.0,0.380,9.0,26.0,0.346,14.0,19.0,0.737,14.0,...,41.1,240.0,111.0,OKC,117,1,2016,2015-11-01,False,True
117,43.0,85.0,0.506,7.0,20.0,0.350,27.0,31.0,0.871,11.0,...,25.0,167.0,127.0,LAL,109,1,2016,2015-11-03,True,False
146,28.0,72.0,0.389,5.0,20.0,0.250,23.0,34.0,0.676,11.0,...,39.0,165.0,107.0,UTA,96,0,2016,2015-11-05,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22990,43.0,80.0,0.538,14.0,29.0,0.483,17.0,20.0,0.850,8.0,...,41.4,230.0,138.0,MIN,90,1,2024,2024-05-10,True,True
22997,45.0,79.0,0.570,13.0,29.0,0.448,12.0,15.0,0.800,5.0,...,31.8,181.0,132.0,MIN,107,1,2024,2024-05-12,True,True
23005,44.0,80.0,0.550,9.0,19.0,0.474,15.0,18.0,0.833,8.0,...,27.6,163.0,131.0,MIN,97,0,2024,2024-05-14,True,False
23012,26.0,86.0,0.302,7.0,36.0,0.194,11.0,14.0,0.786,10.0,...,29.9,194.0,89.0,MIN,115,1,2024,2024-05-16,False,False
23019,34.0,83.0,0.410,8.0,33.0,0.242,14.0,16.0,0.875,11.0,...,28.6,185.0,116.0,MIN,98,0,2024,2024-05-19,False,NaN

In [11]:
df['target'][pd.isnull(df['target'])] = 2

C:\Users\felipe\AppData\Local\Temp\ipykernel_1496\3405584470.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['target'][pd.isnull(df['target'])] = 2
C:\Users\felipe\AppData\Local\Temp\ipykernel_1496\3405584470.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['target'][pd.isnull(df['target'])] = 2

In [12]:
df['target'] = df['target'].astype(int, errors='ignore')

In [13]:
df['won'].value_counts()

won
False    11525
True     11525
Name: count, dtype: int64

In [14]:
df['target'].value_counts()

target
1    11511
0    11509
2       30
Name: count, dtype: int64

In [15]:
nulls = pd.isnull(df)

In [16]:
nulls = nulls.sum()

In [17]:
nulls

fg          0
fga         0
fg%         0
3p          0
3pa         0
           ..
home_opp    0
season      0
date        0
won         0
target      0
Length: 151, dtype: int64

In [18]:
nulls = nulls[nulls > 0]

In [19]:
valid_columns = df.columns[~df.columns.isin(nulls.index)]

In [20]:
valid_columns

Index(['fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'orb', 'drb',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=135)

In [21]:
 df = df[valid_columns].copy()

In [22]:
df

,fg,fga,fg%,3p,3pa,3p%,ft,fta,orb,drb,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,8.0,25.0,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
1,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,21.0,35.0,...,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True,1
2,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,7.0,33.0,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
3,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,23.0,36.0,...,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True,1
4,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,11.0,39.0,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23045,38.0,86.0,0.442,9.0,25.0,0.360,14.0,16.0,7.0,36.0,...,35.7,205.0,115.0,BOS,106,0,2024,2024-06-12,False,1
23046,29.0,80.0,0.363,14.0,41.0,0.341,12.0,13.0,4.0,27.0,...,40.8,212.0,99.0,DAL,122,1,2024,2024-06-14,False,1
23047,46.0,91.0,0.505,15.0,37.0,0.405,15.0,22.0,13.0,39.0,...,35.9,200.0,138.0,BOS,84,0,2024,2024-06-14,True,0
23048,35.0,78.0,0.449,11.0,37.0,0.297,7.0,13.0,7.0,28.0,...,32.3,300.0,110.0,BOS,106,1,2024,2024-06-17,False,2
23049,38.0,89.0,0.427,13.0,39.0,0.333,17.0,20.0,15.0,36.0,...,54.6,194.0,133.0,DAL,88,0,2024,2024-06-17,True,2

Até agora, nós limpamos e preparamos os dados para alimentar o modelo. Apartir de agora, começarei a treinar o modelo

In [23]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import RidgeClassifier

rr = RidgeClassifier(alpha=1)
split = TimeSeriesSplit(n_splits=3)

sfs = SequentialFeatureSelector(rr, n_features_to_select=30, direction='forward', cv=split)

In [24]:
removed_columns = ['season', 'date', 'won', 'target', 'team', 'team_opp']

In [25]:
selected_columns = df.columns[~df.columns.isin(removed_columns)]

In [26]:
selected_columns

Index(['fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'orb', 'drb',
       ...
       'trb%_max_opp', 'ast%_max_opp', 'stl%_max_opp', 'blk%_max_opp',
       'tov%_max_opp', 'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp',
       'total_opp', 'home_opp'],
      dtype='object', length=129)

In [27]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[selected_columns] = scaler.fit_transform(df[selected_columns])

In [28]:
df

,fg,fga,fg%,3p,3pa,3p%,ft,fta,orb,drb,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,0.347826,0.338235,0.366029,0.206897,0.212121,0.395487,0.431818,0.421875,0.275862,0.204545,...,0.278205,0.554502,0.306818,GSW,0.419643,1.0,2016,2015-10-27,False,0
1,0.478261,0.529412,0.377990,0.310345,0.393939,0.356295,0.454545,0.343750,0.724138,0.431818,...,0.216667,0.530806,0.488636,NOP,0.276786,0.0,2016,2015-10-27,True,1
2,0.391304,0.323529,0.435407,0.275862,0.348485,0.351544,0.272727,0.234375,0.241379,0.386364,...,0.020513,0.203791,0.306818,DET,0.375000,0.0,2016,2015-10-27,False,1
3,0.391304,0.529412,0.277512,0.413793,0.378788,0.491686,0.454545,0.406250,0.793103,0.454545,...,0.151282,0.800948,0.500000,ATL,0.267857,1.0,2016,2015-10-27,True,1
4,0.413043,0.500000,0.322967,0.310345,0.378788,0.368171,0.227273,0.265625,0.379310,0.522727,...,0.161538,0.345972,0.306818,CHI,0.294643,1.0,2016,2015-10-27,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23045,0.413043,0.382353,0.413876,0.310345,0.318182,0.427553,0.318182,0.250000,0.241379,0.454545,...,0.175641,0.549763,0.431818,BOS,0.375000,0.0,2024,2024-06-12,False,1
23046,0.217391,0.294118,0.224880,0.482759,0.560606,0.404988,0.272727,0.203125,0.137931,0.250000,...,0.241026,0.582938,0.250000,DAL,0.517857,1.0,2024,2024-06-14,False,1
23047,0.586957,0.455882,0.564593,0.517241,0.500000,0.480998,0.340909,0.343750,0.448276,0.522727,...,0.178205,0.526066,0.693182,BOS,0.178571,0.0,2024,2024-06-14,True,0
23048,0.347826,0.264706,0.430622,0.379310,0.500000,0.352732,0.159091,0.203125,0.241379,0.272727,...,0.132051,1.000000,0.375000,BOS,0.375000,1.0,2024,2024-06-17,False,2
23049,0.413043,0.426471,0.377990,0.448276,0.530303,0.395487,0.386364,0.312500,0.517241,0.454545,...,0.417949,0.497630,0.636364,DAL,0.214286,0.0,2024,2024-06-17,True,2

In [ ]:
sfs.fit(df[selected_columns], df['target'])

In [ ]:
predictors = list(selected_columns[sfs.get_support()])

In [ ]:
predictors

In [ ]:
def backtest(data, model, predictors, start=2, step=1):
    all_predictions = []

    seasons = sorted(data['season'].unique())

    for i in range(start, len(seasons), step):
        season =  seasons[i]

        train = data[data['season'] < season]
        test = data[data['season'] == season]

        model.fit(train[predictors], train['target'])

        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index=test.index)

        combined = pd.concat([test['target'], preds], axis=1)
        combined.columns = ['actual', 'prediction']

        all_predictions.append(combined)
    return pd.concat(all_predictions)

In [ ]:
predictions = backtest(df, rr, predictors)

In [ ]:
predictions

In [ ]:
from sklearn.metrics import accuracy_score

predictions = predictions[predictions['actual'] != 2]
accuracy_score(predictions['actual'], predictions['prediction'])

Inicialmente o modelo não teve uma boa acurácia, 54.85%, os próximos blocos de código serão dedicados a melhorá-la

In [ ]:
df.groupby(["home"]).apply(lambda x: x[x["won"] == 1].shape[0] / x.shape[0])

In [ ]:
df

In [ ]:
df_rolling = df[list(selected_columns) + ["won", "team", "season"]]

# Certifique-se de incluir apenas colunas numéricas no cálculo
numeric_columns = df_rolling.select_dtypes(include='number').columns

# Atualize a função para trabalhar apenas com colunas numéricas
def find_team_averages(team):
    # Aplicar rolling somente nas colunas numéricas
    rolling = team[numeric_columns].rolling(10).mean()
    return rolling

# Agrupe e aplique a função corrigida
df_rolling = df_rolling.groupby(['team', 'season'], group_keys=False).apply(find_team_averages)

In [ ]:
df_rolling

In [ ]:
rolling_cols = [f'{col}_10' for col in df_rolling.columns]
df_rolling.columns = rolling_cols

df = pd.concat([df, df_rolling], axis=1)

In [ ]:
df

In [ ]:
df = df.dropna()

In [ ]:
df

In [ ]:
def shift_col(team, col_name):
    next_col = team[col_name].shift(-1)
    return next_col

def add_col(df, col_name): 
    return df.groupby('team', group_keys=False).apply(lambda x: shift_col(x, col_name))

df['home_next'] = add_col(df, 'home')
df['team_opp_next'] = add_col(df, 'team_opp')
df['date_next'] = add_col(df, 'date')

In [ ]:
df = df.copy()

In [ ]:
full = df.merge(
    df[rolling_cols + ["team_opp_next", "date_next", "team"]], 
    left_on=["team", "date_next"], right_on=["team_opp_next", "date_next"])

In [ ]:
full

In [ ]:
full[["team_x", "team_opp_next_x", "team_y", "team_opp_next_y", "date_next"]]

In [ ]:
 removed_columns = list(full.columns[full.dtypes == "object"]) + removed_columns

In [ ]:
removed_columns

In [ ]:
selected_columns = full.columns[~full.columns.isin(removed_columns)]
sfs.fit(full[selected_columns], full["target"])

In [ ]:
predictors = list(selected_columns[sfs.get_support()])
predictors

In [ ]:
predictions = backtest(full, rr, predictors)

In [ ]:
accuracy_score(predictions["actual"], predictions["prediction"])